<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Fleet Simulation</h1>

    <form method="POST">
      Company: <input type="text" name="company"><br><br>
      Schedule (0-5): <input type="text" name="schedule"><br><br>
      Fleet Type (0-12): <input type="text" name="fleetType"><br><br>
      Minimum Percentage Needed to Rapid Charge (%): <input type="text" name="rcPerc"><br><br>
      Rapid Charge Duration (Hrs): <input type="text" name="rcDuration"><br><br>
      Rapid Charge Rate (kW/Hr): <input type="text" name="rcRate"><br><br>
      Run Time (Hrs): <input type="text" name="runTime"><br><br>
      Start Time (Datetime): <input type="text" name="startTime"><br><br>
      <input type="submit" value="Submit">
    </form>

    <p>{{rapid_charges}}</p>
    <p>{{cost}}</p>

    <img src="{{url_for('static', filename='results_extra_charge.png')}}" width="2300", height="300"/>

  </body>

</html>